{% extends "base.html" %}

{% block title %}
About me
{% endblock %}
{% block content %}

<div class="creator-container">
        <section class="creator__profile">
            <div class="creator__image-wrapper">
                <img src="https://placehold.co/400x400/f8e2cf/333333?text=Воробьев" alt="Воробьев" class="creator__image">
            </div>
            <h2 class="creator__title">Обо мне</h2>
            <p class="creator__hi"><strong>Здравствуйте! Меня зовут Александр Воробьев.</strong></p>
            <p class="creator__info--bio">Я студент факультета компьютерных наук (ФКН) Воронежского государственного университета (ВГУ).
                Мой путь начался с разработки приложений на Python. На данный момент я активно изучаю и разрабатываю веб-сайты,
                изучая современные технологии.</p>
        </section>
        <section class="creator__projects">
            <h2 class="creator__title">Проекты</h2>
            <p class="creator__form--info">Здесь я делюсь своими проектами: веб-сайтами, которые я создаю, и другими работами.
            Вы можете найти примеры моих проектов на GitHub.
            GitHub: <a href="https://github.com/A1exksandr" target="_blank" class="creator__link">github.com/A1exksandr</a></p>
        </section>
        <section class="creator__contact">
            <h2 class="creator__title">Связь со мной</h2>
            <p class="creator__form--info">Если у вас есть предложения для сотрудничества или вопросы, пишите на почту: <a href="mailto:alexandr.answer@gmail.com" class="creator__link">alexandr.answer@gmail.com</a></p>
        </section>
    </div>

{% endblock %}