{% extends "base.html" %}

{% block title %}Авторы{% endblock %}

{% block content %}
<div class="authors">
  <h1 class="authors__title">Авторы</h1>
  <p class="authors__subtitle">Список авторов и исполнителей</p>

  <ul class="authors__list">
    {% for author in authors %}
      <li class="authors__item">
        <a href="{% url 'catalog:author_detail' author.slug %}" class="authors__link">
          <span class="authors__name">{{ author.name }}</span>
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      </li>
    {% empty %}
      <li class="authors__item">Авторы пока не добавлены.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}