{% extends "base.html" %}

{% block title %}Жанры{% endblock %}

{% block content %}
<section>
  <h1 class="section-title">Жанры</h1>

  <div class="items-grid items-grid--1gap">
    {% for genre in genres %}
      <div class="item-card">
        <div class="item-image item-image--square">
          {% if genre.image %}
            <img src="{{ genre.image.url }}" alt="{{ genre.name }}">
          {% endif %}
        </div>
        <h3 class="item-title">{{ genre.name }}</h3>
      </div>
    {% empty %}
      <p>Жанры пока не добавлены.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}