{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}

<section class="hero"> 
  <div class="hero__content"> 
    <h1 class="hero__title">
      Откройте для себя лучшие песни и стихи
    </h1> 
    <div class="hero__search"> 
      <div class="hero__search-icon"> 
        <i class="fas fa-search"></i> 
      </div> 
      <input class="hero__search-input" type="text" name="hero__search" id="search" placeholder="Например: Пушкин, Queen, Виктор Цой.."> 
      <button class="hero__search-button"> 
        Поиск 
      </button> 
    </div> 
  </div> 
</section>

<section>
  <h2 class="section-title">Избранные стихи</h2>
  <div class="items-grid">
    {% for work in featured_poems %}
      <div class="item-card">
        <div class="item-image">
          {% if work.image %}
            <img src="{{ work.image.url }}" alt="{{ work.title }}">
          {% else %}
            <img src="https://placehold.co/400x400/e8e8e8/333333?text={{ work.author.name }}">
          {% endif %}
        </div>
        <h3 class="item-title">{{ work.title }}</h3>
        <p class="item-subtitle">{{ work.author.name }}</p>
      </div>
    {% empty %}
      <p>Пока нет избранных стихотворений.</p>
    {% endfor %}
  </div>
</section>

<section>
  <h2 class="section-title">Лучшие песни</h2>
  <div class="items-grid">
    {% for work in featured_songs %}
      <div class="item-card">
        <div class="item-image">
          {% if work.image %}
            <img src="{{ work.image.url }}" alt="{{ work.title }}">
          {% else %}
            <img src="https://placehold.co/400x400/e8e8e8/333333?text={{ work.author.name }}">
          {% endif %}
        </div>
        <h3 class="item-title">{{ work.title }}</h3>
        <p class="item-subtitle">{{ work.author.name }}</p>
      </div>
    {% empty %}
      <p>Пока нет избранных песен.</p>
    {% endfor %}
  </div>
</section>

<section>
  <h2 class="section-title">Популярные авторы</h2>
  <div class="items-grid">
    {% for author in authors %}
      <div class="item-card">
        <div class="item-image">
          {% if author.image %}
            <img src="{{ author.image.url }}" alt="{{ author.name }}">
          {% else %}
            <img src="https://placehold.co/400x400/d8d0c3/333333?text={{ author.name }}">
          {% endif %}
        </div>
        <h3 class="item-title">{{ author.name }}</h3>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock %}